<div class="container-fluid">
  <div class="row ">
    <nav class="navbar navbar-expand-md  bg-warning navbar-warning">
    <div class="col-md-2 text-center pt-3">
        <a href="" class="navbar-brand"><h1 class=""><b>QuickShop</b></h1></a>
        <button class="navbar-toggler"  type="button" data-bs-toggle="collapse" data-bs-target="#mynav">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse " id="mynav">
    <div class="col-md-7" >
        <div *ngIf="type === 'normal'">
          <form class="d-flex" role="search" >
            <input class="form-control m-2" #productname type="search" (keyup)="serchrelatedproduct($event)" placeholder="Search" aria-label="Search">
            <button class="btn btn-primary m-2" type="submit" (click)="OnSerchproduct(productname.value)">Search</button>
          </form>
          <ul class="sserchdropddown" *ngIf="similarproducts">
            <li *ngFor="let i of similarproducts">
              <a href="" >{{i.name}}</a>
            </li>
          </ul>
        </div>
    </div>
    

    <div class="col-md-3">
            <ul class="navbar-nav " *ngIf="type === 'normal'">
                <li class="nav-item"><a class="nav-link " routerLink="seller" >Seller</a></li>
                <li class="nav-item"><a class="nav-link " href="">Home</a></li>
                <li class="nav-item"><a  class="nav-link " routerLink="user">Login</a></li>
                <li class="nav-item"><a class="nav-link " routerLink="">Cart</a></li>
            </ul>

            <ul class="navbar-nav " *ngIf="type == 'seller'">
              <li class="nav-item "><a class="nav-link " >{{sellername|uppercase}}</a></li>
              <li class="nav-item "><a class="nav-link " routerLink="/selleraddproduct">+Product</a></li>
              <li class="nav-item "><a  class="nav-link " routerLink="/sellerlist">List</a></li>
              <li class="nav-item "><a class="nav-link " (click)="logout()">LogOut</a></li>
          </ul>

          <ul class="navbar-nav " *ngIf="type === 'user'">
            <li class="nav-item "><a class="nav-link " >{{username|uppercase}}</a></li>
            <li class="nav-item "><a class="nav-link " routerLink="/">home</a></li>
            <li class="nav-item "><a class="nav-link " routerLink="/seller">seller</a></li>
            <li class="nav-item "><a  class="nav-link " routerLink="">My Orders</a></li>
            <li class="nav-item "><a class="nav-link " (click)="logout()">LogOut</a></li>
        </ul>
            </div>
    </div>
</nav>
  </div>
</div>
