.container-fluid{
    height: 100vh;
    background-color:papayawhip;
    background-image: url('src/assets/img/img2.jpg');
    background-repeat:no-repeat;
    background-size: cover ;
    opacity:0.8;
}   
mat-card{ 
    border-top:10px solid blueviolet;
    border-bottom:10px solid blueviolet;

}