<div class="container-fluid">
    <div class="row">
        <span class="text-center">ALL PRODUCT DETAILS</span>
    </div>
    <div class="row p-5  justify-content-center">
    <div class="col-sm-12 col-md-11 ">
      <table class="table-bordered table striped table-hover table-info" [ngStyle]="{'text-align':'center'}">
        <thead>
            <tr>
                <th>NAME</th>
                <th>IMAGE</th>
                <th>CATEGORY</th>
                <th>PRIZE</th>
                <th>COLOUR</th>
                <th>DISCRIPTION</th>
                <th colspan="2">ACTION</th>
                <!-- <th></th> -->
            </tr>
         </thead>
         <tbody>
            <tr *ngFor="let i of AllProducts">
                <td>{{i.name|uppercase}}</td>
                <td><img src="{{i.image}}" height="100px" width="150px"></td>
                <td>{{i.category}}</td>
                <td>{{i.price}}</td>
                <td>{{i.color}}</td>
                <td>{{i.description}}</td>
                <td><a><mat-icon color="primary" routerLink="/sellerupdateproduct/{{i.id}}">update</mat-icon></a></td>
                <td><a (click)="delet(i.id)"><mat-icon color="warn" >delete</mat-icon></a></td>
            </tr>
         </tbody>
      </table>
    </div>
    </div>
</div>