<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 p-2 ">
              carosal
        </div>
        <div class="col-md-6 p-2">
            <img src="./assets/img/immg1.jpg" width="750px" class="img-thumbnail" alt="">
        </div>
    </div>
    <div class="row trends  justify-content-center">
           <div class="col-md-11">
                <h1 id="h1" class="text-center">TRENDS</h1>
           </div>
    </div>
    <div class="row">
        productlist
    </div>
</div>